<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- iBatis -->
    <!-- dbconnect.properties -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="locations" value="classpath:config/dbconnect.properties" />
    </bean>
    
	<!-- Data Source -->
	  
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
    <property name="driverClassName" value="${driver}"/>
    <property name="url" value="${url}" />
    <property name="username" value="${username}" />
    <property name="password" value="${password}" />
  </bean>
 
	  <!-- iBaties , sqlMapConfig.xml -->
	  <!-- sqlMapClient 빈등록 -->
   	<bean id="sqlMapClient"
   		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
   		<property name="dataSource" ref="dataSource"/>
   		<property name="configLocation" value="classpath:config/SqlMapConfig.xml"/>
    </bean>
    
   	<!-- sqlMapClientTemplate 빈등록-->
   	
   	<bean id="sqlMapClientTemplate"
   		class="org.springframework.orm.ibatis.SqlMapClientTemplate">
   		<property name="sqlMapClient" ref="sqlMapClient" />	
   	</bean>
   	
   	<!--boardService DAO 빈등록-->
  	<bean id="boardDaoImpl" class="board.service.BoardDaoImpl">
   		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate" />
    </bean>
       
</beans>